body { margin: 0 auto; background-color: white; background-image: url('../../216.14.121.90_8888/background-new.png'); background-repeat:repeat-y; background-position:center; background-attachment: fixed; }

#tagger_wrapper { width: 208px; position: absolute; top: -4px; right: 10px;  }
a.tagger_open, a.tagger_close { width: 40px; height: 18px; display: inline-block; margin-left: 80px; }
a.tagger_open { background: url(../../lh5.googleusercontent.com/_vqAAFYgeDm8/TVgAoTM3wwI/AAAAAAAAGwc/mvqsYfRa52c/s800/pulldown_tab.gif); 0 0 no-repeat; }
a.tagger_close { background: url(../../lh5.googleusercontent.com/_vqAAFYgeDm8/TVgAoU1DkzI/AAAAAAAAGwY/5gcCbiRnRwM/s800/pullup_tab.gif); 0 0 no-repeat; }
.tagger { width: 208px; margin-top: 4px; border-width: 1px; padding: 4px; border-style: solid; }

.tag_selected, .tag_unselected { width: 200px; height: 24px; }
.tag_selected { background: #B5FFBA;  }
.tag_unselected { background: #FFFFFF;  }

.tag_add_wrapper { width: 200px; height: 24px;  margin-bottom: 4px; }
.tag_add_input, .tag_add_button, .tag_add_img { vertical-align: middle; }
a:link, a:visited { color:#A60D0D; text-decoration: none; }      
a:active, a:hover { color:#AF893E; text-decoration: none; }  

#add_comment_img { background: url(../../lh4.googleusercontent.com/_AiMw6GRvQuE/TZjoXYsCATI/AAAAAAAAADc/4EfoYOtFg-k/s800/add_comment.png); width: 450px; height: 100px; }

.post_tags { margin-top: 4px; margin-bottom: 14px; }

.post_summary_comments_count { float: right; margin-right: 3px; font-size: 12px; margin-top: 2px; font-style: italic; }

body, p, td, div ,span, h1, h2, h3, .banner_search { font-family: "Arial";  color: black; text-decoration: none; }
h1, .post_title {font-size: 20px; }
.post_title { font-weight: bold; }
#rss { font-size: 16px; }
.post_description { font-size: 17px; }
h2 {font-size: 16px; }
h3 {font-size: 15px; }
p,td,div,span { font-size: 14px; }
.post_social_network { font-size: 12px; }

.banner { width: 1034px; margin-left: -16px; }
body, .main, menubar { width: 1000px; }
.main {  }
/* border-left-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-width: 4px; border-right-width: 4px; border-bottom-width: 4px; border-left-color: #D9DEDA; border-right-color: #D9DEDA; border-bottom-color: #D9DEDA; */

.banner { height: 145px; border-style: none; margin-top: 20px; }

.menubar { height: 83px;  width: 980px; margin-bottom: 7px; vertical-align: top; display: block; margin-left: auto; margin-right: auto; }

.post_social_network { display: block; height: 70px; }
.post_social_network_text { display: block; vertifical-align: top; }
.retweet, .stumbleupon,  .facebook_like digg, .post_social_network_buttons { float: left; }

.links_wrapper { padding-left: 30px; padding-right: 5px; padding-bottom: 5px; padding-top: 0px; border-color: #F8F2DF; border-style: solid; border-width: 2px; }

.post_wrapper, .archive_wrapper{ padding: 5px; border-color: #F8F2DF; border-style: solid; border-width: 2px; margin-bottom: 10px; }
.post_date { display: inline-block; float: right; color: #999999; }
.post_title { display: inline-block; margin-bottom: 5px; }
.post_title_text { display: inline-block;  }
.post_title_img { display: none; width: 43px; height: 43px; background: url(../../lh5.ggpht.com/_vqAAFYgeDm8/TRvC_JQ9iDI/AAAAAAAAFkk/pnb8_JCdRKk/s800/post-title-icon-4343.png) 0 0 no-repeat; }
.post_end { padding: 7px; }
.related_posts { display: block; width: 600px; }
.related_posts_img { display: block; width: 300px; height: 50px; background: url(../../lh6.googleusercontent.com/-lvPNSmIPhJA/TZjoYZgQXeI/AAAAAAAAAD0/9NkfR6aXxlY/s800/related_posts.png) 0 0 no-repeat; }
.related_post { display: inline-block; vertical-align: top; width: 144px; margin: 1px; text-align: center; }

.comments_title { margin-top: 15px; }
.comments_img { margin-left: 5px; display: inline-block; width: 500px; height: 50px; background: url(../../lh5.googleusercontent.com/_AiMw6GRvQuE/TaIBXLDev1I/AAAAAAAAAF0/IKhdvT2vmcU/s800/tailwaggin_comments.png) 0 0 no-repeat; }
.comments_count { font-size: 50px; display: inline-block; position: relative; top: -12px; color: #AF893E; }
#addComment { padding: 7px; }

.comment_wrapper, .comment, .comment_date, .comment_recentpost, .comment_reply, .comment_name, .comment_delete, .comment_postlink, .comment_toggle, .comment_spamstatus { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.comment_wrapper { position: relative; }
.comment_name { margin-bottom: 8px; font-size: 14px; font-weight: bold; }
.comment_date, .comment_postlink, .comment_spamstatus, .comment_recentpost { font-size: 11px; }
.comment_wrapper, #addComment { margin-bottom: 12px; }
.comment, .comment_recentpost, .comment_name, .comment_postlink, .comment_spamstatus { color: #888888; }
.comment { margin-left: 55px; display: table; width: 100%; border: 2px solid #F8F2DF; padding: 10px;  }
.comment_gravatar { position: absolute; top: 50%; margin-top: -25px; display: inline-block; width: 50px; height: 50px; vertical-align: middle; }
.comment_date { color: #AAAAAA; float: right; }
.comment_indent { margin-left: 60px; }
.comment_buttons { }
.comment_reply, .comment_delete, .comment_toggle { float: right; margin-left: 10px; margin-top: 5px; }
.comment_recentpost { margin-top: 8px; }
.comment_postlink { margin-top: 5px; }


#a.comment_reply, a.comment_reply:hover { width: 124px; height: 77px; display: inline-block; margin: 4px; border-style: none;  }
#a.comment_reply { background:url('../../lh6.ggpht.com/_vqAAFYgeDm8/TTMX6PX6tKI/AAAAAAAAGlM/mQKQ1JS6BEo/s800/reply_button.png') 0 0 no-repeat; }
#a.comment_reply:hover { background:url('../../lh5.ggpht.com/_vqAAFYgeDm8/TTMX5wpuo2I/AAAAAAAAGlI/TLrfZ4Haf-Q/s800/reply_button_green.png') 0 0 no-repeat; }

.left, .right { display: inline-block; vertical-align: top; padding: 7px; }
.left { margin-left: 7px; margin-top: 14px; }
.right { margin-left: -2px;  margin-top: 7px; }
.left, .post_end, #addComment  {  background-color: #F8F2DF; } /* D9DEDA */
.left, .left_about { width: 306px;  }
.right { width: 637px; }
.left_content { vertical-align: top; display: block; }

.left_nav { width: 170px; border-color: #427A00; border-width: 2px; border-style: solid; margin-top: 10px; display: inline-block; vertical-align: top; margin-right: 5px; background-color: white; }
.left_nav_title { width: 140px; padding: 5px; text-align: left; font-size: 14px; font-weight: bold; }
.left_nav_description { width: 160px; padding: 5px; font-style: italic; background-color: #F8F2DF; color: black; border-bottom-color: #F8F2DF; border-bottom-width: 2px; border-bottom-style: solid;  }
.left_nav_links { width: 160px; padding: 5px; }
.left_nav_break { border-top-color: #F8F2DF; border-top-width: 2px; border-top-style: solid; }

.nav_sub { margin-left: 10px; }
.nav { }
.nav_selected { font-weight: bold; }
.nav_description { font-style: italic; }

.left_top_images { width: 250px; margin-top: 5px; display: block; margin-left: auto; margin-right: auto; }
.left_about { vertical-align: middle; background-color: white; }
.left_about_img_wrapper { display: inline-block; width: 78px; height: 30px; vertical-align: middle; }
.left_about_img { width: 78px; height: 30px; border-style: none; float: left; margin-right: 5px; }
.left_about_text { height: 48px; width: 270px;  padding: 5px; vertical-align: middle; border-color: #F8F2DF; border-width: 3px; border-style: solid; text-align: left; font-size: 14px; display: block; margin-left: auto; margin-right: auto; top: 5px; position: relative; }
.left_title { margin-top: 10px; height: 50px; }

.sidebar_divider { background: url(../../lh3.googleusercontent.com/_AiMw6GRvQuE/TZjoYHjKTzI/AAAAAAAAADs/v7iifCENiEM/s800/post_div_320.png) 0 0 no-repeat;; width: 320px; height: 62px; display: block; margin-left: -7px;  margin-top: -10px; }
.sidebar_divider_spaced { background: url(../../lh3.googleusercontent.com/_AiMw6GRvQuE/TZjoYHjKTzI/AAAAAAAAADs/v7iifCENiEM/s800/post_div_320.png) 0 0 no-repeat;; width: 320px; height: 62px; display: block; margin-left: -7px;  margin-top: 15px; }
.post_divider { background: url(../../lh3.googleusercontent.com/_AiMw6GRvQuE/TZiXhh8Eu9I/AAAAAAAAACQ/HyXRtcM7d4U/s800/postdivider.png) 0 0 no-repeat; width: 630px; height: 124px; display: block; margin-left: auto;  margin-right: auto; margin-bottom: 10px; }

.social_networking { display: block; height: 45px; width: 200px; vertical-align: middle; margin-left: auto; margin-right: auto; }
.contact_us {  width: 265px; display: block; margin-left: auto; margin-right: auto; margin-top: 5px; }
.rss, .twitter, .facebook, .email{ border-style: none; width: 45px; height: 45px; display: inline-block; }
.rss { margin-top: 5px; }
.rss_email { border-style: none; width: 130px; height: 69px;  }

.front_map, .front_videos { width: 310px; height: 320px; display: inline-block; vertical-align: top; margin-left: 5px; }

.ads_front_page { margin: 0 auto; width: 260px; height: 125px; margin-top: 10px; }
.ad_one_front_page, .ad_two_front_page  { width: 125px; height: 125px; display: inline-block;  }
.ad_two_front_page { margin-left: 5px; }

.ad_aetna { width: 120px; height: 319px; vertical-align: top; display: inline-block; margin-top: 10px; }
.ads_inner_single { width: 120px; height: 600px; margin-top: 10px; vertical-align: top; display: inline-block; }
.ads_inner_double { width: 250px; height: 600px;  margin-top: 0px; vertical-align: top; display: inline-block; margin-left: 30px; }
.ad_one_google_skyscraper, .ad_two_google_skyscraper { width: 120px; height: 600px; display: inline-block; vertical-align: top; }
.ad_two_google_skyscraper { margin-left 10px; vertical-align: top; }
.ad_google_rectangle { width: 300px; height: 250px; display: block; vertical-align: top; margin-left: auto; margin-right: auto; margin-top: 10px; }

.map_front { margin-top: -10px; }
.video_front { padding: 2px; border-style: solid; border-width: 3px; border-color: #F8F2DF; }
.current_location { margin-top: 4px; text-align: center; }
.current_location_currently { font-size: 14px; font-weight: bold; }
.current_location_next { font-style: italic; }

.site_config { display: block; margin-top: 20px; }

.featured_posts { width: 525px; display: block; margin-left: auto; margin-right: auto; }
.featured_posts_img { width: 268px; height: 39px; margin-left: auto; margin-right: auto; display: block; border-style: none; }
.featured_posts_img_wrapper { width: 525px; height: 39px; margin-left: auto; margin-right: auto; display: block; margin-bottom: 5px; }
.featured_post { width: 150px; height: 380px; float: left; margin-right: 10px; padding: 5px; border-color: #F8F2DF; border-width: 2px; border-style: solid; margin-bottom: 10px; }
.featured_post_img { width: 150px; height: 250px; display: block; margin-right: 5px; margin-bottom: 5px; border-style: none; }
.featured_post_title { font-weight: bold; text-align: center; display: block; height: 32px; }
.featured_post_text { display: block; }

.rotate { padding: 10px;  }

a.Home, a.Home:hover, a.Home_selected, a.Links, a.Links:hover, a.Links_selected { display: inline-block; width: 150px; height: 83px; }
a.Tips_and_Tricks, a.Tips_and_Tricks:hover, a.Tips_and_Tricks_selected, a.Candid_Canine, a.Candid_Canine:hover, a.Candid_Canine_selected, a.Archives, a.Archives:hover, a.Archives_selected { display: inline-block; width: 136px; height: 83px; }
a.Inspiration, a.Inspiration:hover, a.Inspiration_selected { display: inline-block; width: 135px; height: 83px; }
a.Places, a.Places:hover, a.Places_selected { display: inline-block; width: 137px; height: 83px; }

a.Home { background:url('../../lh6.googleusercontent.com/_AiMw6GRvQuE/TZiXfJyN7aI/AAAAAAAAABQ/0rvNEWxsq_Y/s800/home-white.png') 0 0 no-repeat; }
a.Home:hover, a.Home_selected { background:url('../../lh4.googleusercontent.com/_AiMw6GRvQuE/TZiXgZyKyRI/AAAAAAAAAB0/G0fiVjiovuY/s800/home.png') 0 0 no-repeat; }

a.Tips_and_Tricks { background:url('../../lh6.googleusercontent.com/_AiMw6GRvQuE/TZiXe7ga6QI/AAAAAAAAABE/JCr9Wd6h4rg/s800/sit.png') 0 0 no-repeat; }
a.Tips_and_Tricks:hover, a.Tips_and_Tricks_selected { background:url('../../lh4.googleusercontent.com/_AiMw6GRvQuE/TaHxslUco6I/AAAAAAAAAEs/noYumQ9O8XU/s800/tips-and-tricks2.png') 0 0 no-repeat; }

a.Places { background:url('../../lh6.googleusercontent.com/_AiMw6GRvQuE/TZiXfmNLCwI/AAAAAAAAABc/XLagF1SVppE/s800/heel.png') 0 0 no-repeat; }
a.Places:hover, a.Places_selected{ background:url('../../lh4.googleusercontent.com/_AiMw6GRvQuE/TZiXgJ0TraI/AAAAAAAAABs/Jcevo5iBfek/s800/places.png') 0 0 no-repeat; }

a.Inspiration { background:url('../../lh6.googleusercontent.com/_AiMw6GRvQuE/TZiXe0VGLmI/AAAAAAAAABM/-328tcLmZsc/s800/wag.png') 0 0 no-repeat; }
a.Inspiration:hover, a.Inspiration_selected{ background:url('../../lh5.googleusercontent.com/_AiMw6GRvQuE/TZiXgS2D-RI/AAAAAAAAABw/-KMHEzifPjY/s800/insp.png') 0 0 no-repeat; }

a.Candid_Canine { background:url('../../lh6.googleusercontent.com/_AiMw6GRvQuE/TZiXe_oW7LI/AAAAAAAAABI/2dzP9b6ypZo/s800/look.png') 0 0 no-repeat; }
a.Candid_Canine:hover, a.Candid_Canine_selected { background:url('../../lh5.googleusercontent.com/_AiMw6GRvQuE/TaHxs0y4RnI/AAAAAAAAAEw/Dw9r_q5aHz8/s800/candid2(1).png') 0 0 no-repeat; }

a.Archives { background:url('../../lh5.googleusercontent.com/_AiMw6GRvQuE/TZiXfaq3WUI/AAAAAAAAABU/kSdzdQ-lAJg/s800/fetch.png') 0 0 no-repeat; }
a.Archives:hover, a.Archives_selected { background:url('https://lh3.googleusercontent.com/_AiMw6GRvQuE/TZiXhDLm2hI/AAAAAAAAACI/GeJax34DOJQ/s800/archives.pngg') 0 0 no-repeat; }

a.Links { background:url('../../lh6.googleusercontent.com/_AiMw6GRvQuE/TZiXfZps9aI/AAAAAAAAABY/1hpTTbO-UiM/s800/kisses.png') 0 0 no-repeat; }
a.Links:hover, a.Links_selected { background:url('../../lh3.googleusercontent.com/_AiMw6GRvQuE/TZiXgT1VZrI/AAAAAAAAAB4/w3tK9wVHzKM/s800/links.png') 0 0 no-repeat; }

.banner_search { border: solid 1px #002277; width: 120px; display: inline-block; position: relative; top: -22px; font-size: 12px; background: rgb(255, 255, 255) url(../../cse.google.com/coop/intl/en/images/google_custom_search_watermark.gif) no-repeat scroll left center; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }

.main ul { list-style-image: url('../../lh6.googleusercontent.com/_AiMw6GRvQuE/TaILosZFO1I/AAAAAAAAAGg/0bXYazs5I0A/s800/bullet_image.png'); }

.side_tag_wrapper { width: 320px; }
.side_tag_normal, .side_tag_big { display: inline-block; margin: 2px; }

.side_banner_countries { width: 320px; height:  380px; }
.side_banner_categories { width: 320px; height:  260px; }
.side_banner_title_countries, .side_banner_title_categories { margin-top: 5px; margin-left: auto; margin-right: auto; display: block; }
.side_banner_title_countries, .side_banner_title_categories { width: 320px; height: 53px; margin-top: 10px; margin-left: -10px; }
a.side_africa_overland, a.side_australia, a.side_cambodia, a.side_china, a.side_hawaii, a.side_india, a.side_ireland, a.side_italy2007, a.side_japan, a.side_new_zealand, a.side_puerto_rico, a.side_south_korea, a.side_thailand, a.side_chew_abby, a.side_gear, a.side_plan_trip, a.side_recipes {  float: left; margin: 2px; }
.side_tag_normal, a.side_africa_overland, a.side_australia, a.side_cambodia, a.side_china, a.side_hawaii, a.side_india, a.side_ireland, a.side_italy2007, a.side_japan, a.side_new_zealand, a.side_puerto_rico, a.side_south_korea, a.side_thailand, a.side_chew_abby, a.side_gear { width: 150px; height: 50px; }
.side_tag_big, a.side_plan_trip, a.side_recipes { width: 300px; height: 100px; }

a.side_africa_overland { background:url('../../lh6.ggpht.com/_vqAAFYgeDm8/TRvBfandkSI/AAAAAAAAFic/IRn8Bu2k23I/s800/africainfocus_cat_pic.jpg') 0 0 no-repeat; }
a.side_australia { background:url('../../lh3.ggpht.com/_vqAAFYgeDm8/TRvBfmLJASI/AAAAAAAAFio/x9ntuBT3lTk/s800/australia_cat_pic.jpg') 0 0 no-repeat; }
a.side_cambodia { background:url('../../lh3.ggpht.com/_vqAAFYgeDm8/TRvBxl45D-I/AAAAAAAAFi0/H3iZbefMjLE/s800/cambodia_cat_pic.jpg') 0 0 no-repeat; }
a.side_china { background:url('../../lh3.ggpht.com/_vqAAFYgeDm8/TRvBx1UIERI/AAAAAAAAFi8/bhmMIHvP_S0/s800/china_cat_pic.jpg') 0 0 no-repeat; }
a.side_hawaii { background:url('../../lh4.ggpht.com/_vqAAFYgeDm8/TRvCMkkeLkI/AAAAAAAAFjg/J8Z56H03U88/s800/hawaii_cat_pic.jpg') 0 0 no-repeat; }
a.side_india { background:url('../../lh5.ggpht.com/_vqAAFYgeDm8/TRvCWCVhiiI/AAAAAAAAFjo/w18D_YZ0jyM/s800/india_cat_pic.jpg') 0 0 no-repeat; }
a.side_ireland { background:url('../../lh3.ggpht.com/_vqAAFYgeDm8/TRvw0todohI/AAAAAAAAFmk/hfi6t6kGJBI/s800/ireland_cat_pic.jpg') 0 0 no-repeat; }
a.side_italy2007 { background:url('../../lh4.ggpht.com/_vqAAFYgeDm8/TRvCWGbc7rI/AAAAAAAAFjs/Lr6XGS3v-VI/s800/italy_cat_pic.jpg') 0 0 no-repeat; }
a.side_japan { background:url('../../lh6.ggpht.com/_vqAAFYgeDm8/TRvCWKlOP4I/AAAAAAAAFjw/gMyIvLBIBLs/s800/japan_cat_pic.jpg') 0 0 no-repeat; }
a.side_new_zealand { background:url('../../lh4.ggpht.com/_vqAAFYgeDm8/TRvClDl4iNI/AAAAAAAAFj8/7N3bkNAoxX0/s800/newzealand_cat_pic.jpg') 0 0 no-repeat; }
a.side_puerto_rico { background:url('../../lh6.ggpht.com/_vqAAFYgeDm8/TRvC_I-q4VI/AAAAAAAAFko/G1n6D05hPYA/s800/puertorico_cat_pic.jpg') 0 0 no-repeat; }
a.side_south_korea { background:url('../../lh4.ggpht.com/_vqAAFYgeDm8/TRvDaIAkmZI/AAAAAAAAFlA/_dnetd9PtKU/s800/southkorea_cat_pic.jpg') 0 0 no-repeat; }
a.side_thailand { background:url('../../lh4.ggpht.com/_vqAAFYgeDm8/TRvDafXnuwI/AAAAAAAAFlE/9vhmUsosDgs/s800/thailand_cat_pic.jpg') 0 0 no-repeat; }

a.side_chew_abby { background:url('../../lh5.ggpht.com/_vqAAFYgeDm8/TRvBxuW7kRI/AAAAAAAAFi4/N5NLLI4t4hQ/s800/chewy_cat_pic.jpg') 0 0 no-repeat; }
a.side_gear {  background:url('../../lh4.ggpht.com/_vqAAFYgeDm8/TRvpsW3DIOI/AAAAAAAAFmA/fm-j53GJPTM/s800/gear_cat_pic.jpg') 0 0 no-repeat; }
a.side_plan_trip { background:url('../../lh4.ggpht.com/_vqAAFYgeDm8/TRvCzf_zDcI/AAAAAAAAFkg/XEJnG_ROqx8/s800/plan_cat_pic2.jpg') 0 0 no-repeat; }
a.side_recipes { background:url('../../lh5.ggpht.com/_vqAAFYgeDm8/TRvC_Dd1x3I/AAAAAAAAFkw/PqhW5yyK7po/s800/recipes_cat_pic2.jpg') 0 0 no-repeat; }

.copyright, .design_elements { color: #777777; font-size: 10px; margin-left: 7px; }

.travel_post_content {  }
.post_description {  font-style: italic; }

    .img-right { float: right; padding-left: 10px; padding-bottom: 2px; padding-top: 2px; }
    .img-left { float: left; padding-right: 10px; padding-bottom: 2px; padding-top: 2px; }

  
  .amazonListingTable { border-spacing: 10px; }
  .amazonItem { width: 290px; vertical-align: top; padding: 7px; border: solid 3px #F8F2DF; }
  .amazonDetails { text-align: left; }
  .amazonFrame { float: right; margin-left: 6px; margin-bottom: 6px; }
  .amazonTitle { font-weight: bold; }


    .pictureDate {font-size: 11px;}


    .lowdownlist { margin-bottom: 10px; }

    .rssLink, .postDate {font-size: 11px; color: #777777;}



      #searchform {
        width : 500px;
      }

      table.search-control {
        width : 100%;
      }

      table.search-control .gsc-control {
        width : 100%;
      }

      /* disable twiddle and size selectors for left column */
      #searchresults .gsc-twiddle {
        background-image : none;
      }

      #searchresults .gsc-resultsHeader .gsc-title {
        padding-left : 0px;
        font-weight : bold;
        font-size : 14px;
      }

      #searchresults .gsc-resultsHeader div.gsc-results-selector {
        display : none;
      }

      #searchresults .gsc-resultsRoot {
        padding-top : 6px;
      }

      /* long form visible urls should be on */
      #searchresults div.gs-visibleUrl-long {
        display : block;
      }

      .gsc-webResult div.gs-visibleUrl-short {
        display : none;
      }

    .maintable { margin: auto; }

    .floatingtable-top { text-align: left; margin-top: 0px; background-color: white;  }
    .floatingtable { text-align: left; margin-top: 12px; background-color: white;  }
    .floatingtable-noborder { text-align: left; margin-top: 12px; background-color: white;  }
    .floatingtable-top-noborder { text-align: left; margin-top: 0px; background-color: white;  }

    .contenttable { margin-top: 12px; }
    
    .page-title { font-size: 16px; font-weight: bold; }
    .titletext { font-size: 14px; }
    .menutext { font-size: 14px; }
    .activemenutext { font-size: 14px; font-weight: bold; }
    .menudescriptiontext { font-size: 13px; font-style: italic; }

    .topmenuimg { background-image: url(images/menubar.html); background-repeat: no-repeat; height: 36px; width: 800px; }
    .topmenu { padding-left: 3px; padding-right: 3px; padding-top: 3px; } 
    .topmenuwrapper { padding: 0px; spacing: 0px; } 

 
    .leftmenu { padding: 3; font-size: 14px; } 
    .rightmenu { padding: 3; font-size: 14px; } 

    .content { background-color: white; padding-top: 10px; padding-right: 8px; padding-left: 8px; padding-bottom: 5px; text-align: justify; }

    .footer { font-size: 9px; color="red" }

    .line { background-color: #555555; height: 1px; } 


    .crossBottom { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #555555; }
    .crossRight { border-right-width: 1px; border-right-style: solid; border-right-color: #555555; }


/*
      a                 { color: #555555; text-decoration: underline;}
      a:hover           { color: #2277CC; text-decoration: underline;}
      a:active          { color: #555555; text-decoration: underline;}
      a:visited         { color: #555555; text-decoration: underline;}
      a:visited:hover   { color: #2277CC; text-decoration: underline;}

      a.home, a:hover.home, a:active.home, a:visited.home, a:visited:hover.home, a.topmenu, a:hover.topmenu                  { text-decoration: none;}

      a.topmenu                 { color: #555555; text-decoration: none;}
      a:hover.topmenu           { color: #2277CC; text-decoration: none;}
      a:active.topmenu          { color: #555555; text-decoration: none;}
      a:visited.topmenu         { color: #555555; text-decoration: none;}
      a:visited:hover.topmenu   { color: #2277CC; text-decoration: none;}

      a.leftmenu                 { color: #555555; text-decoration: none;}
      a:hover.leftmenu           { color: #2277CC; text-decoration: none;}
      a:active.leftmenu          { color: #555555; text-decoration: none;}
      a:visited.leftmenu         { color: #555555; text-decoration: none;}
      a:visited:hover.leftmenu   { color: #2277CC; text-decoration: none;}

      a.rightmenu                 { color: #555555; text-decoration: none;}
      a:hover.rightmenu           { color: #2277CC; text-decoration: none;}
      a:active.rightmenu          { color: #555555; text-decoration: none;}
      a:visited.rightmenu         { color: #555555; text-decoration: none;}
      a:visited:hover.rightmenu   { color: #2277CC; text-decoration: none;}
*/

      #searchresults .gs-result .gs-title a                 { color: #555555; text-decoration: none;}
      #searchresults .gs-result .gs-title a:hover           { color: #2277CC; text-decoration: none;}
      #searchresults .gs-result .gs-title a:active         { color: #555555; text-decoration: none;}
      #searchresults .gs-result .gs-title a:visited         { color: #555555; text-decoration: none;}
      #searchresults .gs-result .gs-title a:visited:hover   { color: #2277CC; text-decoration: none;}

      #searchresults .gs-result .gs-title a *                 { color: #555555; text-decoration: none;}
      #searchresults .gs-result .gs-title a:hover *           { color: #2277CC; text-decoration: none;}
      #searchresults .gs-result .gs-title a:active *         { color: #555555; text-decoration: none;}
      #searchresults .gs-result .gs-title a:visited *         { color: #555555; text-decoration: none;}
      #searchresults .gs-result .gs-title a:visited:hover *   { color: #2277CC; text-decoration: none;}


#searchresults .gs-result .gs-title,
#searchresults .gs-result .gs-title * {
  color: #555555;
  text-decoration: none;
}



      .wikitable { border-style: solid; border-color: gray; border-width: 1px; }